# System files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.swp

# Python & Build files
__pycache__/
*.pyc
build/
dist/
*.egg-info/

# Ignore everything in tiny-llm/ except tiny-llm/book-zh/
tiny-llm/*
!tiny-llm/book-zh/
